@model Assignment2.ViewModels.PasswordGen
@{
    ViewBag.Title = "PasswordGenerator";
}
<h2>PasswordGenerator</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.LastName)
        @Html.Editor("LastName")
    </div>
    <div>
        @Html.LabelFor(m => m.BirthYear)
        @Html.Editor("BirthYear")
    </div>
    <div>
        @Html.LabelFor(m => m.FavColor)
        @Html.Editor("FavColor")
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
    <div>
        @Html.LabelFor(m => m.PasswordOptions)
        @Html.DropDownListFor(mbox => mbox.SelectedPassword, new SelectList(ViewBag.PasswordOptions, "PasswordOptions"));
    </div>
}

